  <div class = "row">
    <div class="container">
      <div class = "col-md-6">
        <h1><%= @venue.name %></h1>
        <p> <%= @venue.address1 %> </p>
        <p> <%= @venue.description %> </p>
        <p> <%= @cleanAddress %> </p>
      </div>

    <div class = "col-md-6">
      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCiY34QREeRPpC4AqOFUw8nd_nyGh1i1xY  &q=<%= @cleanAddress1 %>,<%=@cleanPostalcode%>,<%=@cleanCity%>,<%=@cleanCountry%>" allowfullscreen>
      </iframe>
    </div>
</div>
<div class = "row">
  <div class = "container">
      <h2> Coming up </h2>
      <% @concerts.each do |concert| %>
      <a href=" <%=  concert_path(concert) %>">
        <div class="col-md-3">
      		<div class="tile-container" style="background-image: url(<%= concert.image_url %>); background-color: rgba(29, 0, 51, 0.5)">
            <div class = "tile-content">
              <p class="tile-title"><%= concert.title %></p>
        			<p class="tile-description"><%= concert.description %></p>
              <%= link_to "Learn more", concert_path(concert) %>
      		  </div>
    	    </div>
        </div>
      </a>
    <% end %>
    </div>
<div class = "container">
    <% if current_user && current_user.admin? %>
      <p ><%= link_to "Delete Venue", venue_path(@venue), method: "delete" %></p>
    <% end %>
</div>
</div>
</div>
