
<div class = "row">
  <div class="container">
    <div class = "col-md-12" style="background-image: url(<%= @concert.image_url %>); background-size: cover; color: white" >
      <h1><%= @concert.title %></h1>
      <p><%= @concert.date %> <%= @concert.time %></p>
      <p><%= @venue.name %> <%=@concert.created_at%></p>
    </div>
  </div>
</div>

<div class = "row">
  <div class = "container">
    <div class = "col-md-6">
      <h2>What is it about? </h2>
      <p><%= @concert.description %> </p>
    </div>

      <div class = "col-md-6">
        <div class = "row">
        <div class = "col-md-12">
          <div class = "row">
            <% if @is_attending == false %>
              <%= form_for(@attendee) do |f| %>
              <%= f.hidden_field :user_id, value: session[:user_id] %>
              <%= f.hidden_field :concert_id, value: @concert.id %>
              <%= f.hidden_field :response, value: 2 %>
              <%= f.submit "I wanna join", :class=> "btn btn-primary btn-lg joining-button", :id => "coming-button" %>
              <% end %>
            <% else %>
            <div id = "you-in"> You are in </div>
            <% end %>
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-4">
            <h1>Where?</h1>
          </div>
          <div class = "col-md-8">
            <div class = "row attendees-container">
                <% if @attendees.any? %>
                <h1>Who is in?</h1>
                <% @attendees.each do |attendee| %>
                 <div class="attendee-container col-md-1">
                   <p><%= attendee.first_name %></p>
                 </div>
                 <% end %>
              <% end %>
            </div>
          </div>

        </div>

<!-- Google maps frame -->
      <iframe
        width="100%"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCiY34QREeRPpC4AqOFUw8nd_nyGh1i1xY  &q=<%= @cleanAddress1 %>,<%=@cleanPostalcode%>,<%=@cleanCity%>,<%=@cleanCountry%>" allowfullscreen>
      </iframe>

    </div>
  </div>
</div>
<!-- Links appear depending of the user role -->
<% if (current_user && current_user.editor?) or (current_user && current_user.admin?)  %>
  <p>
    <%= link_to "Edit Concert", edit_concert_path(@concert) %>
  </p>
<% end %>
<% if current_user && current_user.admin? %>
  <p ><%= link_to "Delete Concert", concert_path(@concert), method: "delete" %><p>
<% end %>
